*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:host{
    display:block;
}

.hero{

    width:100%;
    height:100vh;

    background-image:url('/assets/bg_cover_2_simple_mobile_view.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    position:relative;
}

/* Dark Overlay */

.hero::before{

    content:'';

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.12);

}

.header{

    position:absolute;

    top:0;
    left:0;

    width:100%;

    z-index:10;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 6%;

}

.logo img{

    height:75px;

}

nav{

    display:flex;

    gap:45px;

}

nav a{

    color:#fff;

    text-decoration:none;

    font-size:17px;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    color:#FFD86B;

}

.order-btn{

    border:none;

    padding:12px 28px;

    background:#FFD86B;

    color:#522112;

    border-radius:40px;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

}

.order-btn:hover{

    transform:translateY(-3px);

}

.menu-btn{

    display:none;

    color:white;

    font-size:34px;

    cursor:pointer;

}

.mobile-menu{

    display:none;

}

/* --------------------- */
/* Tablet */
/* --------------------- */

@media(max-width:992px){

nav{

    gap:25px;

}

.logo img{

    height:60px;

}

.order-btn{

    padding:10px 22px;

}

}

/* --------------------- */
/* Mobile */
/* --------------------- */

@media(max-width:768px){

nav{

    display:none;

}

.order-btn{

    display:none;

}

.menu-btn{

    display:block;

    z-index:100;

}

.mobile-menu{

    position:absolute;

    top:90px;

    left:0;

    width:100%;

    background:#4b170e;

    display:flex;

    flex-direction:column;

    max-height:0;

    overflow:hidden;

    transition:.4s;

    z-index:50;

}

.mobile-menu.open{

    max-height:350px;

}

.mobile-menu a{

    color:white;

    text-decoration:none;

    padding:18px 30px;

    border-bottom:1px solid rgba(255,255,255,.1);

}

.hero{

    background-position:center;

}

}

/* Large Desktop */

@media(min-width:1600px){

.header{

    padding:30px 8%;

}

.logo img{

    height:90px;

}

nav a{

    font-size:18px;

}

}